<header class="header">
  <div class="header-container">

    <div class="left">
      <img
                ngSrc="/images/LOGO_HEADER.png"
                alt="Logo"
                width="50"
                height="50"
                class="logo"
                routerLink="/"
            />
    </div>

    <!-- Botão hamburguer (só mobile) -->
    <button class="menu-toggle" (click)="menuAberto = !menuAberto">
      ☰
    </button>

    <nav class="menu" [class.aberto]="menuAberto">
      <a (click)="irParaSecao('inicio')">INÍCIO</a>
      <!--<a (click)="irParaSecao('areas')">ÁREAS DE ATUAÇÃO</a>-->
      <a (click)="irParaSecao('como-agendar')">COMO AGENDAR</a>
      <a (click)="irParaSecao('diferenciais')">DIFERENCIAIS</a>
      <a (click)="irParaSecao('duvidas')">DÚVIDAS</a>
      <a (click)="irParaLogin()">ENTRAR</a>
    </nav>



    <section class="cta-section">

    <button class="whatsapp-btn" (click)="openWhatsApp()" title="Fale conosco no WhatsApp">
        <img src="/images/icone-whats.png" alt="WhatsApp" />
    </button>


      <btn-primary
        btn-text="QUERO ME CONSULTAR"
        (click)="irParaFila()">
      </btn-primary>
    </section>

  </div>
</header>


