<app-header></app-header>
<main>
    <section id="inicio" class="main-section">
        <div class="headline">

        </div>
        <picture>
            <source 
                media="(max-width: 768px)" 
                srcset="/images/banner-mobile2.jpeg"
            />

            <img
                ngSrc="/images/banner-home-web2.png"
                alt="Banner principal"
                width="1695"
                height="500"
                class="banner"
                routerLink="/form"
            />
        </picture>

    </section>

    <section id="pronto-atendimento" class="specialties specialties--pronto">
        <div class="container">
        <div class="specialties-container">
            <h2 class="section-title">PRECISANDO DE ATENDIMENTO AGORA?</h2>

            <div class="cards cards--single">
                <!-- Card -->
                <div class="card card--pronto">
                    <h3 class="card-title">Atendimento Clínico Geral</h3>
                    <span class="card-subtitle">Médico <br> Clínico Geral</span>

                    <div class="card-price">R$ 49</div>

                    <ul class="card-features">
                    <li>Avaliação clínica geral</li>
                    <li>Atendimento para todas as idades</li>
                    <li>Solicitação e análise de exames</li>
                    <li>Orientações de saúde e prevenção</li>
                    <li>Renovação de receitas, quando indicado</li>
                    <li>Emissão de atestado, quando indicado</li>
                    </ul>

                    <button class="btn secondary"(click)="irParaFila()">Atendimento agora</button>
                </div>
            </div>
        </div>
        </div>
    </section>
    
        <section id="areas" class="specialties specialties--agendamento">
        <div class="container">
        <div class="specialties-container">
            <h2 class="section-title">PREFERE AGENDAR SUA CONSULTA?</h2>
            <div class="cards">
                <!-- Card -->
                <div class="card">
                    <h3 class="card-title">Atendimento Médico em Saúde Mental</h3>
                    <span class="card-subtitle">Médico Pós-graduando em Psiquiatria</span>

                    <div class="card-price">R$ 169</div>

                    <ul class="card-features">
                    <li>Controle de ansiedade, estresse e pânico</li>
                    <li>Depressão, alterações de humor e hiperatividade</li>
                    <li>Dificuldades relacionadas ao sono</li>
                    <li>Avaliação e acompanhamento médico</li>
                    <li>Orientação terapêutica</li>
                    <li>Renovação de receitas, quando indicado</li>
                    </ul>

                    <button class="btn secondary"(click)="irParaAgendarConsulta()">Agendar Consulta</button>
                </div>
                <!-- Repita para os outros cards -->
                <!-- Card -->
                <div class="card">
                    <h3 class="card-title">Atendimento Médico em Endocrinologia</h3>
                    <span class="card-subtitle">Médico Pós-graduando em Endocrinologia</span>

                    <div class="card-price">R$ 169</div>

                    <ul class="card-features">
                    <li>Obesidade e perda de peso</li>
                    <li>Alterações hormonais</li>
                    <li>Diabetes e pré-diabetes</li>
                    <li>Distúrbios da tireóide</li>
                    <li>Controle de peso e metabolismo</li>
                    <li>Solicitação e análise de exames</li>
                    <li>Distúrbios hormonais femininos</li>
                    </ul>

                    <button class="btn secondary"(click)="irParaAgendarConsulta()">Agendar Consulta</button>
                </div>
                <!-- Repita para os outros cards -->
                <!-- Card -->
                <div class="card">
                    <h3 class="card-title">Atendimento Médico em Otorrino</h3>
                    <span class="card-subtitle">Médico Pós-graduando em Otorrinolaringologia</span>

                    <div class="card-price">R$ 169</div>

                    <ul class="card-features">
                    <li>Queixas auditivas, zumbido e infecções de ouvido</li>
                    <li>Labirintite, tontura e distúrbios do equilíbrio</li>
                    <li>Obstrução nasal, rinite e sinusite</li>
                    <li>Rouquidão, dores de garganta persistentes e alterações da voz</li>
                    <li>Alterações do olfato e do paladar</li>
                </ul>

                    <button class="btn secondary"(click)="irParaAgendarConsulta()">Agendar Consulta</button>
                </div>
                <!-- Repita para os outros cards -->
            </div>
        </div>
        </div>
    </section>
    <section id="psicologia" class="specialties specialties--agendamento">
        <div class="container">
        <div class="specialties-container">
            <h2 class="section-title">TERAPIA COM PSICÓLOGO</h2>
            <div class="cards">
                <!-- Card -->
                <div class="card card--psico">
                    <h3 class="card-title">Sessão de terapia</h3>
                    <span class="card-subtitle">Psicologia <br><br></span>

                    <div class="card-price">R$ 89</div>
                    <span class="card-subtitle">Valor por sessão<br><br></span>

                    <ul class="card-features">
                    <li>Sessão online individual de 30 minutos</li>
                    <li>Acolhimento psicológico imediato e pontual</li>
                    <li>Escuta ativa focada em crises emocionais</li>
                    <li>Apoio em ansiedade, estresse, luto e pânico</li>
                    <li>Clareza emocional para decisões difíceis</li>
                    <li>Alívio emocional no momento presente</li>
                    <li>Possível encaminhamento para outros serviços</li>
                    </ul>

                    <button class="btn secondary"(click)="irParaAgendarConsulta()">Agendar</button>
                </div>
                <!-- Repita para os outros cards -->
            </div>
        </div>
        </div>
    </section>
    <section id="como-agendar" class="how-it-works">
        <div class="container">
        <h2 class="section-title">
            COMO AGENDAR SUA CONSULTA ONLINE?
        </h2>

        <div class="steps">
            <div class="step-card">
            <span class="step-number">01</span>
            <p>Escolha a área de atuação desejada</p>
            </div>

            <div class="step-card">
            <span class="step-number">02</span>
            <p>Escolha o dia e horário da sua consulta online</p>
            </div>

            <div class="step-card">
            <span class="step-number">03</span>
            <p>Preencha seus dados e efetue o pagamento</p>
            </div>

            <div class="step-card">
            <span class="step-number">04</span>
            <p>Aguarde o link da sua consulta</p>
            </div>
        </div>
        </div>
    </section>
    <section id="diferenciais" class="diferenciais">
        <div class="container">
        <h2 class="diferenciais__titulo">NOSSOS DIFERENCIAIS</h2>

        <div class="diferenciais__grid">
            <div class="diferencial-card">
            <img src="/images/icon-cadeado.png" alt="Segurança e privacidade">
            <p>Segurança e privacidade (LGPD)</p>
            </div>

            <div class="diferencial-card">
            <img src="/images/icon-esteto.png" alt="Medicina humanizada">
            <p>Medicina humanizada</p>
            </div>

            <div class="diferencial-card">
            <img src="/images/icon-seta.png" alt="Acesso rápido">
            <p>Acesso rápido e facilitado</p>
            </div>

            <div class="diferencial-card">
            <img src="/images/icon-prancheta.png" alt="Solicitação de exames">
            <p>Solicitação de exames e laudos</p>
            </div>

            <div class="diferencial-card">
            <img src="/images/icon-medico.png" alt="Profissionais capacitados">
            <p>Profissionais capacitados</p>
            </div>

            <div class="diferencial-card">
            <img src="/images/icon-prancheta.png" alt="Atestados e receitas">
            <p>Atestado e renovação de receitas</p>
            </div>
        </div>
        </div>
    </section>
    <section id="duvidas" class="faq">
        <div class="container">
        <h2 class="faq__titulo">DÚVIDAS MAIS FREQUENTES</h2>

        <div class="faq__lista">
            <div
                class="faq-item"
                *ngFor="let item of faqs; let i = index"
                [class.active]="activeIndex === i"
                >
                <div
                    class="faq-item__header"
                    (click)="toggle(i)"
                >
                    <span class="faq-item__numero">
                    {{ i + 1 | number:'2.0' }}
                    </span>

                    <p class="faq-item__pergunta">
                    {{ item.pergunta }}
                    </p>

                    <span class="faq-item__icone"></span>
                </div>

                <div class="faq-item__content">
                    <p>{{ item.resposta }}</p>
                </div>
                </div>
        </div>
        </div>
    </section>
</main>
<app-footer></app-footer>

