@use 'color-variables' as vars;
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

.main {
    margin: 0;
    min-width: 320px; /* Mínimo para telas de celular */
    min-height: 75vh; /* Altura da tela, está assim para aparecer o comeco do footer */
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
}

.titulo {
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    color: vars.$primary-color; // roxo
    margin-bottom: 10px;
}

.painel {
    background-color: white;
}

.painel-container {
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
}

.card {
    background: #fff;
    border-radius: 16px;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    gap: 16px; 

    box-shadow: 0 4px 16px rgba(0,0,0,0.06);

    cursor: pointer;
    transition: transform .2s;
}

.card:hover {
    transform: translateY(-4px);
}

//Título do card
.card-title {
    font-family: 'Inter', sans-serif;
    color: vars.$primary-color; // roxo
    font-size: 20px;
    font-weight: 600;
    white-space: pre-line;
}

//Preco do card
.card-price {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: vars.$secondary-color; // roxo
}

.btn {
    margin-top: auto; // empurra o botão para o final
    height: 47px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(183, 159, 247, 0.30); /* Borda roxa clara, 2 pixels de largura, estilo sólido */
    border-radius: 12px;
    cursor: pointer;
    background-color: vars.$secondary-color; //verde
    color: vars.$primary-color;
    transition: all 0.3s ease;

    &:hover {
      background-color: vars.$primary-color; // fundo roxo
      color: white;                           // texto branco
      border-color: vars.$primary-color;      // borda roxa
    }

}

.card:nth-child(1),
.card:nth-child(2) {
  grid-column: span 3; // 6 / 2 = 3 → dois cards na primeira linha
}

.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
  grid-column: span 2; // 6 / 3 = 2 → três cards na segunda linha
}

@media (max-width: 768px) {
    .cards {
    grid-template-columns: 1fr;
    }

    .card {
    grid-column: span 1;
    }
}
