<main class="main">
    <h1 class="titulo">Painel</h1>

    <section class="painel">
        <div class="container">
        <div class="painel-container">
            <div class="cards">
                @for (servico of servicos; track servico.titulo) {
                <div class="card">
                    <h3 class="card-title">
                        {{ servico.titulo.replace(' a ', '\n') }}
                    </h3>
                    <strong class="card-price">R$ {{ servico.preco }}</strong>
                    <button class="btn">Marcar Consulta</button>
                </div>
                }
            </div>
        </div>
        </div>
        
    </section>
</main>

