<app-header></app-header>
<main>
<div class="page-container">

    <!-- CADASTRO -->
    <div class="content-container">

        <!-- BARRA DE PROGRESSO -->
        <div class="progress-bar">
            <div
                class="progress"
                [style.width.%]="etapa === 1 ? 50 : 100"
            ></div>
        </div>
<p style="color:red; font-weight: bold;">
    Etapa atual: {{ etapa }}
</p>

<p style="color:blue; font-weight: bold;">
    Form válido: {{ form.valid }}
</p>
    <form [formGroup]="form">

        <!-- ETAPA 1 -->
        <ng-container *ngIf="etapa === 1">
            <h1>Vamos começar seu cadastro</h1>

            <div class="form-group">
                <label>Nome completo</label>
                <input type="text" formControlName="nome" />
                <small *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('required')">
                    Nome é obrigatório
                </small>
            </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email" formControlName="email" />
                <small *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
                    E-mail inválido
                </small>

                <small *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
                    E-mail inválido
                </small>
            </div>

            <button type="button" class="btn-next" (click)="proximaEtapa()">
                Próxima
            </button>
        </ng-container>

        <!-- ETAPA 2 -->
        <ng-container *ngIf="etapa === 2">
            <h1>Crie sua conta</h1>

            <div class="form-group">
                <label>Telefone</label>
                <input type="text" formControlName="telefone" />
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" formControlName="senha" />
            </div>

        <div class="actions">
            <button type="button" class="btn-back" (click)="voltarEtapa()">
                Voltar
            </button>

            <button type="button" (click)="etapa = etapa + 1">
                Teste Avançar
            </button>
        </div>
        </ng-container>

    </form>
    </div>

    <!-- BANNER -->
    <div class="image-container">
        <img
            ngSrc="/images/banner.jpeg"
            width="600"
            height="600"
            alt="Família usando celular"
        />
    </div>

</div>
</main>

<app-footer></app-footer>