<header class="topbar">
    <div class="topbar-container">
        <div class="left">
            <img
                ngSrc="/images/LOGO_AREAPACIENTE.png"
                alt="Logo"
                width="50"
                height="50"
                class="logo"
            />
        </div>
        
        <button class="menu-toggle" (click)="menuAberto = !menuAberto">
            ☰
        </button>

        <nav class="menu" [class.aberto]="menuAberto">
            <span (click)="menuAberto = false">Painel</span>
            <span (click)="menuAberto = false">Prontuário</span>
        </nav>

        <div class="usuario">
            <span class="nome">Nome do Paciente</span>
            <div class="avatar"></div>

            <div class="logout">
                <a routerLink="/login">
                <img src="/images/logout.png" alt="Sair">
                </a>
            </div>
        </div>
    </div>
</header>


<main class="conteudo">
    <router-outlet />
</main>

<app-footer />