<header class="topbar">
    <div class="topbar-container">
        <div class="left">
            <img
                ngSrc="/images/LOGO_AREAPACIENTE.png"
                alt="Logo"
                width="50"
                height="50"
                class="logo"
                routerLink="/"
            />
        </div>
        
        <button class="menu-toggle" (click)="menuAberto = !menuAberto">
            ☰
        </button>

        <nav class="menu" [class.aberto]="menuAberto">
            <span routerLink="/area-paciente" 
            routerLinkActive="ativo" 
            [routerLinkActiveOptions]="{ exact: true }" 
            (click)="fecharMenu()">
            Painel
            </span>
            <span routerLink="/area-paciente/prontuario" 
            routerLinkActive="ativo"  
            (click)="fecharMenu()">
            Prontuário
            </span>
            <span routerLink="/area-paciente/minhas-consultas" 
            routerLinkActive="ativo"  
            (click)="fecharMenu()">
            Minhas Consultas
            </span>
        </nav>

       <div class="usuario" *ngIf="perfil">
            <span class="nome">{{ perfil.nome }}</span>
            <div class="avatar"></div>

            <div class="logout" (click)="logout()">
                <a><img src="/images/logout.png" alt="Sair"></a>
            </div>
        </div>
    </div>
</header>


<main class="conteudo">
    <router-outlet />
</main>
<a
    class="whatsapp-float"
    href="https://wa.me/5584999999999?text=Olá!%20Preciso%20de%20ajuda%20na%20área%20do%20paciente."
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Falar no WhatsApp"
    title="Fale conosco no WhatsApp"
>
    <img src="/images/icon-whats.png" alt="WhatsApp" />
</a>
<app-footer />