$primary-text: #480A60; // (72, 10, 96)
$secondary-text: #02BDA2; // (2, 189, 162)
$primary-color: #480A60;
$secondary-color: #02BDA2;
$light-primary-color: #B79ff7;
$third-color: #4a148c;
$purple-color: #452792;
$green-color: #00BDA2;
