@use 'color-variables' as vars;
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";

.main {
    display: flex;
}
.page-container {
    display: flex;
    min-height: 100vh;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.content-container {
    flex: 0 0 50%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.topo {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 100px; // 👈 aumenta o espaço entre botões e o h1
    margin-bottom: 32px;
}

.image-container {
    background-color: #f5f6fa;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa 50% da largura da janela (viewport) */
    /* Se quiser 50% do elemento pai, use: width: 50%; */
    
    height: auto; /* A altura se ajusta automaticamente */
    overflow: hidden; /* Evita que o conteúdo extra da imagem apareça */
    object-fit: cover; // Garante que preencha bem o espaço
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    color: vars.$primary-color;

    label {
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid vars.$primary-color;
        font-size: 16px;
    }

    small {
        color: red;
        margin-top: 4px;
    }
    }

.btn {
    justify-content: center;
    align-items: center;
}
.btn-voltar,
.btn-login {
    background: vars.$secondary-color;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    color: vars.$primary-color;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.login-link {
    font-size: 12px;
    color: #6c63ff;
    cursor: pointer;
}

h1 {
    justify-self: center;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: vars.$primary-color;;
}
h3 {
    margin: 10px 0 12px; //aproxima do h1
    color: vars.$primary-color;
    font-size: 16px;
}
.btn-cadastrar {
    width: 100%;
    margin-top: 32px;
    padding: 12px;
    background: #4a148c;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.footer-text {
    text-align: center;
    color: vars.$primary-color;
    margin-top: 16px;
    font-size: 16px;
}
.footer-text a {
    color: vars.$primary-color;
    cursor: pointer;
    font-weight: 600;
}

.checkbox-termos {
    color: vars.$primary-color;
}

@media (max-width: 600px) {
    .topo {
    grid-template-columns: 1fr;
    gap: 12px;
    text-align: center;
    }

    .btn-voltar,
    .btn-login {
    justify-self: center;
    }
}