<app-header></app-header>

<main>
    <div class="page-container">
        <div class="content-container">

        <!-- TOPO -->
        <div class="topo">
            <button class="btn-voltar" (click)="voltar()">Voltar</button>
            <h1>Crie sua conta</h1>
            <button class="btn-login" (click)="login()">Já tenho conta</button>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- BLOCO: INFORMAÇÕES PESSOAIS -->
            <section class="form-block">
            <h3>Informações pessoais</h3>

            <div class="form-group">
                <label>Nome completo*</label>
                <input type="text" formControlName="nome" />
                <small *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">
                Informe seu nome completo
                </small>
            </div>

            <div class="form-group">
                <label>CPF*</label>
                <input type="text" formControlName="cpf" placeholder="123.456.789-00" />
                <small *ngIf="form.get('cpf')?.touched && form.get('cpf')?.invalid">
                Informe um CPF válido
                </small>
            </div>

            <div class="form-group">
                <label>Celular*</label>
                <input type="tel" formControlName="celular" placeholder="(00) 90000-0000" />
                <small *ngIf="form.get('celular')?.touched && form.get('celular')?.invalid">
                Informe seu número de celular
                </small>
            </div>

            <div class="form-group">
                <label>Gênero*</label>
                <select formControlName="genero">
                <option value="">Selecione</option>
                <option value="FEMININO">Feminino</option>
                <option value="MASCULINO">Masculino</option>
                <option value="NAO_BINARIO">Não-binário</option>
                <option value="NAO_RESPONDER">Prefiro não responder</option>
                </select>
                <small *ngIf="form.get('genero')?.touched && form.get('genero')?.invalid">
                Selecione uma opção
                </small>
            </div>

            <div class="form-group">
                <label>Data de nascimento*</label>
                <input type="date" formControlName="data" />
            </div>
            </section>

            <!-- BLOCO: ENDEREÇO -->
            <section class="form-block">
            <h3>Endereço</h3>

            <div class="form-group campo cep">
                <label>CEP*</label>
                <div class="cep-wrapper">
                <input type="text" formControlName="cep" placeholder="00000-000" (blur)="buscarCep()" />
                <button type="button" class="btn-cep" (click)="buscarCep()">Buscar</button>
                </div>
            </div>

            <div class="form-group">
                <label>Endereço*</label>
                <input type="text" formControlName="rua" />
            </div>

            <div class="form-group">
                <label>Número*</label>
                <input type="text" formControlName="numero" />
            </div>

            <div class="form-group">
                <label>Complemento</label>
                <input type="text" formControlName="complemento" />
            </div>

            <div class="form-group">
                <label>Bairro*</label>
                <input type="text" formControlName="bairro" />
            </div>

            <div class="form-group">
                <label>Cidade*</label>
                <input type="text" formControlName="cidade" />
            </div>

            <div class="form-group">
                <label>Estado*</label>
                <input type="text" formControlName="estado" />
            </div>
        </section>

        <!-- BLOCO: CONTA -->
        <section class="form-block">
            <h3>Dados da conta</h3>

            <div class="form-group">
                <label>E-mail*</label>
                <input type="email" formControlName="email" autocomplete="email"/>
                <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                    Informe um e-mail válido
                </small>
            </div>

            <div class="form-group">
                <label>Senha*</label>

                <div class="input-password">
                    <input
                    [type]="mostrarSenha ? 'text' : 'password'"
                    formControlName="senha"
                    autocomplete="new-password"
                    />

                    <button
                    type="button"
                    class="btn-eye"
                    (click)="toggleSenha()"
                    aria-label="Mostrar senha"
                    >
                    👁️
                    </button>
                </div>
                <small
                *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
                    A senha deve ter no mínimo 8 caracteres, com letra maiúscula, minúscula,
                número e símbolo.
                </small>
            </div>

            <div class="form-group">
                <label>Confirme sua senha*</label>

                <div class="input-password">
                    <input
                    [type]="mostrarConfirmarSenha ? 'text' : 'password'"
                    formControlName="confirmarSenha"
                    (paste)="$event.preventDefault()"
                    />

                    <button
                    type="button"
                    class="btn-eye"
                    (click)="toggleConfirmarSenha()"
                    aria-label="Mostrar senha"
                    >
                    👁️
                    </button>
                </div>
                <small
                *ngIf="form.hasError('senhasDiferentes') && form.get('confirmarSenha')?.touched">
                As senhas não coincidem
                </small>
            </div>
        </section>

        <!-- TERMOS -->
        <div class="terms-container">
            <label class="terms-label">
                <input type="checkbox" formControlName="terms1" />
                <span>
                Declaro que li, compreendi e concordo com o
                <a href="#" target="_blank">Contrato de Prestação de Serviços de Telemedicina</a>
                disponível no site.
                </span>
            </label>
            <label class="terms-label">
                <input type="checkbox" formControlName="terms2" />
                <span>
                Declaro que li, compreendi e concordo com o <a href="#" target="_blank">Termo de Consentimento Livre e Esclarecido para Telemedicina</a> 
                disponível no site.
                </span>
            </label>
            <label class="terms-label">
                <input type="checkbox" formControlName="terms3" />
                <span>
                Declaro que li, compreendi e concordo com a <a href="#" target="_blank">Política de Atendimento por Telemedicina</a> 
                disponível no site.
                </span>
            </label>
            <label class="terms-label">
                <input type="checkbox" formControlName="terms4" />
                <span>
                Declaro que li, compreendi e concordo com a <a href="#" target="_blank">Política de Agendamento, Cancelamento e Reagendamento</a> 
                disponível no site.
                </span>
            </label>
            <small
                *ngIf="form.get('terms')?.touched && form.get('terms')?.invalid"
                class="terms-error"
            >
                Você precisa aceitar os termos para continuar
            </small>
        </div>


        <!-- CTA -->
        <button 
            type="submit" 
            class="btn-cadastrar" 
            [disabled]="form.invalid || enviando">
            <ng-container *ngIf="!enviando; else carregando">
                Cadastrar
            </ng-container>
            <ng-template #carregando>
                Enviando...
            </ng-template>
        </button>
        <p class="microtexto">Seus dados estão protegidos e não serão compartilhados.</p>

        <p class="login-link">
            Já possui uma conta?
            <a routerLink="/login">Entrar</a>
        </p>
        
        </form>
    </div>

    <!-- IMAGEM -->
    <div class="image-container">
        <img
        ngSrc="/images/img_form.png"
        width="960"
        height="1080"
        alt="Plataforma segura"
        />
    </div>
    </div>
</main>

<app-footer></app-footer>
