<app-header></app-header>

<section class="form-section">
    <h3>
        Título do form
    </h3>
    <form action="">
        <label>Nome*</label>
        <input type="text" placeholder="Digite seu nome" />

        <label for="email">E-mail*</label>
        <input id="email" type="email" placeholder="Digite seu e-mail" />

        <label>Gênero*</label>
            <div class="radio-group">
                <label><input type="radio" name="genero" /> Feminino</label>
                <label><input type="radio" name="genero" /> Masculino</label>
                <label><input type="radio" name="genero" /> Outros</label>
            </div>

        <label for="cpf">CPF*</label>
        <input type="text" id="cpf" maxlength="14" placeholder="Ex: 123.456.789-00" />

        <label>Celular*</label>
        <input type="tel" placeholder="(00) 90000-0000" />

        <label>Data de nascimento*</label>
        <input type="date" />

        <label for="cep">CEP*</label>
        <input type="text" id="cep" maxlength="9" placeholder="Ex: 12345-789" />

        <label>Senha*</label>
        <input type="password" placeholder="Digite sua senha" />

        <label>Confirme sua senha*</label>
        <input type="password" placeholder="Confirme sua senha" />

        <div class="checkbox-section">
            <input type="checkbox" id="checkbox-termos" />
            <label for="checkbox-termos">Li e concordo com os<a href="/#/terms" target="_blank">Termos e Condições de Uso da Plataforma de Saúde</a>
            </label>
        </div>

        <btn-primary btn-text="Cadastrar"></btn-primary>

    </form>

</section>
